#container {
    width: 65%;
    min-width: 600px;
}

#relatorio {
    display: flex;
    flex-direction: column;
}

#relatorio > #area-title {
    display: flex;
    justify-content: left;
    align-items: center;
}

#relatorio #title {
    margin-top: 1.5rem;
}

.estoque-bolsas {
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.estoque-bolsas label{
    padding: 5px;
}

.estoque-tipos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    height: 100px;
}